@charset "UTF-8";
   
    body{
        background: linear-gradient(to bottom,#36BFB1,#038C73,#02735E);
        height: 100%;
        }
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
      }
    h2{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        }
        p{
            color: white;
            } 